h1, p {
  font-family: Lato;
}

.charts {
  width: 80%!important;
}

.container_box {
  position: relative;
}
.nav {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
}
.nav li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #aaa;
  font-size: 14px;
  
}
.nav .active {
  color: #333;
}

.nav li span.tag{
  border-radius: 50%;
  padding: 0 10px;
  margin-right: 4px;
}